.bug-filter {
    background-color: var(--gray2);
    
   
}
@media (max-width:860px) {
    .form-content > *{
        flex-direction: column;
    }
    
}
@media  (max-width:400px){
    .form-content input{
        width: 5em;
    }
}
.form-content{
    display: grid;
}
.form-content > *{
    display: flex;
    margin-bottom: 2em;
}
.bug-filter h2 {
    margin-bottom: .5em;
}

.bug-filter label {
    margin-inline-start: 1em;
}

